@font-face {font-family:'newsnet'; src:url('/fonts/newsnet.woff2') format('woff2'), url('/fonts/newsnet.woff') format('woff'), url('/fonts/newsnet.svg#nn') format('svg');}
body {font-family:sans-serif;}
a:active {outline:none;}
h1,h2,h3,h4,h5 {margin:0; font-weight:normal;}
h1 {font-size:x-large;}
.ban h1 {font-size:28px; background-image:linear-gradient(to right,#b02c44, #171717); background-clip:border-box; text-fill-color:transparent;}
#titles h3, header h3 {margin:6px 0px; font-weight:normal;}
#titles h4 {margin:0; font-weight:normal;}
.justy h5, .justy h4, .justy h3, .justy h2, .justy h1 {margin:0.5em 0;}
p {margin:8px 0;padding:0 2px;}
article.panel p:first-child  {margin-top:0;}
article.panel p:last-child {margin-bottom:0;}
tr:nth-of-type(2n) {background:rgba(0,0,0,0.1);}
td,th {padding:4px; margin:2px;}
table {font-size:80%;}
blockquote {font-family:Arial; margin:2px 0; padding:12px 18px; border-style:solid; border-width:1px; border-radius:10px; text-align:left; font-size:90%; background-color:rgba(255,255,255,0.4); border-color:rgba(135,135,135,0.4);}
header {padding:0; margin:0 0 10px 0;}
header h3 {display:block; font-size:larger;}
section {margin:0; padding:10px 10px; border-radius:10px; border:1px solid rgba(135,135,135,0.6); background-color:rgba(225,222,218,0.5); transition:border 0.2s linear;}
section:hover .thumb {filter:grayscale(0%);}
section header {margin-top:-8px; margin-bottom:0px;}
section h4 {font-weight:normal;}
section .imgl {margin-right:10px;}
article {clear:right; margin:4px 0px;}
figure {margin:0;}
figcaption {font-family:Arial; font-size:smaller;}
ul {padding:0; margin:0 0 0 16px;}
ul ul {margin:0 0 0 16px;}
ol {margin:0 0 0 16px;}
ol ol {margin:0 0 0 16px;}
li {padding:0px 0;}
sup {line-height:0;}
sub {line-height:0;}
img {filter:invert(0%);}
input {border-width:1px; border-style:solid; border-radius:0px; font-size:small; transition:background 0.2s linear; box-sizing:border-box; margin:1px 3px; padding:1px 2px;}
textarea {box-shadow:0 0 4px #ffffff; padding:0 2px; margin:0px 0; border-radius:2px; box-sizing:border-box;}
select {box-shadow:0 0 2px #ffffff;}
button {font-size:smaller;}
fieldset {background:rgba(255,255,255,0.2); margin:4px 0; padding:10px; border:1px solid #878787; box-shadow:0;}
legend {background:rgba(255,255,255,0.2); border:1px solid #878787;}
object {border:0;}
fact {text-shadow:0px 1px 2px #878787;}
aside {font-size:smaller; padding:16px; border:0px solid #e1deda; background-image:linear-gradient(90deg,#e1deda,rgba(225,222,218,0.2));}
#page {transition:all 0.2s ease; width:inherit; margin:0; padding:10px; max-width:840px;}
#banner {width:100%; margin-bottom:10px;}
#banner .banim {background-size:cover; background-position:0; height:calc(100vw/4);}
#navigation {border-width:0; line-height:normal; margin:0 0 10px 0;}
.menus {font-size:100%; margin:4px 0 0 0;}
.menus a {padding:4px 6px; line-height:20px; font-size:14px;}
.menus a:hover, .menus a.active {text-shadow:0px 0px 1px #333333;}
.menu a:hover, .menu a.active {text-shadow:0px 0px 1px #333333; color:#171717 !important; background-color:rgba(135,135,135,0);}
#lbar {position:fixed; width:280px; height:calc(100vh - 40px); overflow-y:auto; scrollbar-width:none;}
#mbar {width:720px; margin-left:296px;}
#rbar {float:right;}
#content {margin:2px;}
#footer {clear:both; text-align:left; border-radius:inherit;}
#menu {padding:0 4px 0px; font-size:14px;}
#menu a {font-family:Arial; border-width:0; border-style:solid; padding:2px 4px; margin:0px 0; line-height:20px; display:inline-block;}
#menu a:hover {text-shadow:0px 0px 1px #333333;}
#menu a.active {text-shadow:0px 0px 1px #333333;}
#menu .panel {display:block; font-weight:normal; font-family:Verdana;}
#menu .philum {font-size:23px;}
#menu .panel a {border:0;}
#drop li {display:inline-block;}
#drop a {display:block;}
#drop li ul {display:none;}
#drop li:hover ul {display:inline-block; position:absolute; left:0;}
#artmod {display:none; margin-left:10px; margin-top:2px;}
#board {padding:0;}
input#srch {width:120px; padding:1px 3px 1px; border:1px solid #878787;}
input#srch:focus {transition:all 0.1s linear;}
#board li {box-shadow:0px 0px 4px #e1deda; margin:4px 2px; padding:4px; font-size:small;}
#board li a:hover {text-shadow:0px 0px 1px #e1deda;}
#bub {z-index:1;font-size:medium;}
#bub li {padding:1px 2px 2px;}
#bub li a {padding:0px 2px 1px;}
#bub li ul {min-width:120px;padding:2px 2px 2px;}
#bub li li a {padding:2px 2px 2px;}
#bub ul {box-shadow:0;}
#bub ul ul {border-style:solid; border-width:1px;}
#bub.inline ul {border-radius:4px;}
#bub.inline ul ul {border-width:1px;}
#bub .philum {line-height:20px; min-width:16px;}
.desk a {width:56px; padding:0 4px; margin:0 4px;}
.vtab {margin:0; /*writing-mode:vertical-rl; text-orientation:mixed;*/}
.vtab a {border-radius:6px 6px 0 0; padding:1px 2px; margin:0px 1px;}
.tab {margin:0 0 10px 0;}
.panel {font-family:Arial,Sans;}
.panel a:hover {text-decoration:underline;}
ul.panel li {font-family:Arial; margin:0px 0; font-size:small;}
ul.panel li a {word-wrap:break-word;}
.justy {font-family:Georgia,serif; font-size:20px; text-align:left; line-height:1.2em;}
.justy p {margin:8px 0; padding:4px 4px;}
.justy a {text-decoration:underline;}
.justy a:hover {text-decoration:underline;}
.justy h1 {font-size:xx-large;}
.justy h2 {font-size:x-large;}
.justy h3 {font-size:large;}
.justy h4 {font-size:medium;}
.justy h5 {font-size:normal;}
.justy img {border-width:1px; border-style:solid; max-width:auto;}
.cols img#rez {width:100%;}
.justy .philum {line-height:1em;}
.grid-blocks {/*display:grid; grid-template-columns:1fr 1fr 1fr; grid-column-gap:10px; grid-row-gap:10px;*/}
.grid-art {display:grid; grid-template-columns:260px auto; grid-column-gap:16px; grid-row-gap:4px;}
.grid-semi {grid-template-columns:100px 276px; grid-column-gap:10px; grid-row-gap:10px;}
.grid-sections {grid-template-columns:auto auto;}
.prw2 {grid-column-start:1; grid-column-end:3;}
.thumb {background-size:cover; background-position:center center; height:140px; width:100%; margin:0 0 0px 0; transition:all 0.3s ease; border-width:1px; border-style:solid; filter:grayscale(97%); background-image:linear-gradient(33deg,rgba(93, 171, 255, 0.44),rgba(176,44,68,0.14)),linear-gradient(45deg,rgba(176,44,68,0.2),rgba(249,3,3,0.12));}
.prw2 .thumb {background-size:contain;}
.thumb:hover {filter:grayscale(0%);}
.simple .thumb {height:100px;}
.effect {filter:contrast(100%) brightness(400%) invert(100%);}
.txtit {font-size:21px; text-shadow:inherit; font-weight:bold;}
.txtcadr {font-size:larger; margin:10px 0; padding:4px 10px; font-variant:petite-caps; text-align:left;}
.txtx, .txtred, .txtblc, .txtnoir, .txtyl {border-radius:2px; border-style:solid; border-width:0px; box-shadow:0px 0px 2px #e1deda; font-size:small; text-decoration:none;}
.txtx {border-width:0;}
.txtx a:hover {text-decoration:none;}
.txtblc {box-shadow:0px 0px 2px #878787;}
.txtred {border-color:red; border-width:1px; box-shadow:0px 1px 1px #ffffff inset, 0px 0px 2px #878787; padding:2px 4px;}
.txtred:hover {box-shadow:0px 1px 2px #fff inset, 0px 0px 4px #878787;}
.txtnoir {box-shadow:0px 0px 4px #e1deda;}
.txtyl {color:#cccccc !important;}
a.txtyl {color:#cccccc !important; text-decoration:none !important;}
.txtsmall {font-family:Arial; font-size:80%; padding:0px 1px; border-width:1px 0 0 0;}
.txtsmall a {text-decoration:underline;}
.txtsmall2 {font-family:Arial; font-size:70%; padding:0px 1px;}
.txtsmall2 a {padding:0 2px; border-radius:2px;}
.date {font-size:70%;}
.tags {margin:4px 0px; font-family:Arial; font-size:80%;}
.tags a {padding:0px 1px;}
.tags a:hover {padding:0px 1px; text-decoration:underline;}
.title {font-size:large; padding:6px;}
.ascii {font-size:20px; line-height: 1.2em;}
.txtbox {box-shadow:0px 0px 0px #e1deda; border-color:inherit;}
.txtbox:hover {background-color:#b02c44;}
.txtaa, .txtab, .txtac {border-width:0 0 0px 0; border-style:solid; line-height:20px; border-radius:6px 6px 0px 0px;}
.txtaa {box-shadow:0px 0px 4px -3px #878787;}
.txtab {box-shadow:0px 0px 4px -3px #878787;}
.txtac {border-width:0 0 1px 0; background:linear-gradient(to bottom,rgba(135,135,135,0),rgba(135,135,135,0.5));}
.tabs a {border-width:1px 1px 0 1px; background:linear-gradient(to top,rgba(135,135,135,0.4),rgba(135,135,135,0));}
.tabs a.active {background:#ffffff;}
.tabs a:hover {background:#ffffff;}
.tabs {border-style:solid !important; border-width:0 0 0px 0 !important;}
.tabs a:after {border-style:solid !important; border-width:0 0 1px 0 !important;}
.popbt, .popw, .popsav, .popdel {text-decoration:none; padding:2px 4px; border-radius:2px; border-style:solid; border-width:1px; margin:1px;}
.popbt .philum, .popw .philum, .popsav .philum, .popdel .philum {margin-top:2px;}
.popbt {border-color:rgba(225,222,218,0.5); background-color:rgba(225,222,218,0.2);}
.popbt:hover {background-color:rgba(225,222,218,0.5);}
.popbt.active {background-color:rgba(225,222,218,0.5);}
.poph {background-color:rgba(204,204,204,0.2);}
.poph:hover, .poph.active {background-color:rgba(204,204,204,0.5);}
.popw {border-color:rgba(135,135,135,0.5); background-color:rgba(135,135,135,0.2);}
.popw:hover, .popw.active {background-color:rgba(135,135,135,0.5);}
.popsav {border-color:rgba(0,90,190,0.5); background-color:rgba(0,90,190,0.2);}
.popsav:hover {border-color:rgba(0,90,190,0.8); background-color:rgba(0,90,190,0.5);}
.popdel {border-color:rgba(190,0,0,.5); background-color:rgba(190,0,0,0.2);}
.popdel:hover {border-color:rgba(190,0,0,1); background-color:rgba(190,0,0,0.5);}
a.stabilo, .trkmsg a.stabilo, a.stabilo .philum, .trkmsg a:hover.stabilo {color:black;}
.point {color:white; border-radius:16px; font-size:12px; padding:2px 6px;}
.stabilo {color:black;}
.txtclr {font-weight:normal;}
.grey.active:hover .philum {color:#bd0000;}
.pictos-red .philum {color:#b02c44 !important;}
.pictos-green .philum {color:#00bd00 !important;}
.pictos-blue .philum {color:#0000bd !important;}
.pictos-small .philum {font-size:18px;}
.cols {columns:auto 240px; margin-top:10px;}
.cols .pubart {display:inline-block;}
.cols .panart {display:inline-block; width:100%; border-style:solid; border-width:0px;}
.cols div {/*display:inline-block;*/}
.cols section {display:inline-block;}
.cols p {margin:20px 0;}
.colsmall {columns:auto 140px; font-size:90%; line-height:130%;}
.colsmall a {display:block;}
.search input {font-size:small; border-radius:2px;}
.search input:hover {font-size:small; border-radius:2px;}
.track {font-size:1em; margin:0 0 2px 0; border-width:0px; border-style:solid; padding:4px 6px 2px; background-color:#e1deda; border-collapse:collapse; border-radius:10px;}
.track a {text-decoration:none;}
.trkmsg {border-width:0px; padding:4px 10px; background-color:rgba(255,255,255,0.5); border-radius:0 0 6px 6px;}
.trkmsg a {text-decoration:underline;}
.letter {font-size:17px; font-family:times, serif; line-height:20px; text-align:justify; padding:20px; box-shadow:2px 2px 5px #878787;}
.twit {padding:10px; margin:0px; border-radius:10px; border-width:1px; border-style:solid; box-shadow:1px 1px 1px rgba(135,135,135,0.2); text-align:left; font-size:16px; line-height:1em; background-color:rgba(255,255,255,0.4); font-family:Arial; max-width:550px;}
.twitter {padding:10px 0;}
.pubart {margin:4px; text-align:left; clear:left;}
.pubart h4 {margin:2px 0 12px;}
.pubart h4 a {line-height:15px;}
.pubart img {margin-bottom:6px;}
.inline .panart {/*display:inline-block; width:266px; margin:3px;*/}
.panart {font-family:Arial; font-size:16px; padding:0px; transition:all 0.2s ease; background-size:cover;}
.panbkg, .coverbkg {transition:all 0.3s ease; background-size:cover; margin:0; height:200px; filter:grayscale(0%) brightness(90%); background-image:linear-gradient(to bottom,rgba(176,44,68,0.4),rgba(255,255,255,0.4)),linear-gradient(45deg,rgba(255,255,255,0.4),rgba(176,44,68,0.4)); border-radius:10px; border-style:solid; border-width:1px;}
.panart:hover .panbkg {filter:grayscale(10%) brightness(100%);}
.pantxt {position:absolute; margin:0px; padding:10px; font-size:16px; text-shadow: 0px 0px 1px rgba(0,0,0); box-shadow:0 0px 0px rgba(0,0,0,0.4); max-height:166px; scrollbar-width:thin; overflow:auto; position:absolute; top:auto; bottom:0px; transition:background 0.4s ease; border-width:0px; border-radius:0px; border-style:solid; backdrop-filter:blur(0px) grayscale(0%);}
.pantxt .author {padding:6px 6px 1px 6px; border-style:solid; border-width:1px; border-bottom-color:#e1deda; border-radius:4px 4px 0 0;}
.pantxt .title {font-size:large; padding:6px; border-style:solid; border-width:1px; border-radius:0 4px 4px 4px;}
.coverbkg {height:240px;}
.covertxt {padding:16px; background:rgba(23,23,23,0.8); font-size:28px; position:absolute; top:0px; max-width:60%;}
.apichan {transition:all 0.2s ease;}
.apichan a {display:inline-block; margin:4px; padding:0 16px; background:linear-gradient(20deg,rgb(255, 255, 255,0.4),rgba(255,255,255,0)); line-height:3em; text-shadow:1px 1px 2px #171717; transition:background 0.2s ease;}
.apichan a:hover {background:linear-gradient(200deg,rgb(255, 255, 255,0.4),rgba(255,255,255,0));}
.apichan a .philum, .apichan a:hover .philum {font-size:x-large;}
.sticky {line-height:normal;}
.nbp {font-size:13px; margin:4px 0;}
.nbp a {border-width:0px; border-style:solid; padding:0px 4px; text-decoration:none !important;}
.list a {padding:1px 2px;}
.dlist div {padding:1px 2px;}
#bub .inline .bub ul {box-shadow:0;}
.taxonomy li {padding:0;}
.topology li a {padding:0;}
.topology li a.active {padding:0;}
.etc {text-overflow:ellipsis; white-space:nowrap; overflow:hidden; width:220px;}
.hide-simple {display:block;}
.nl {white-space:break-spaces;}
.flapf {padding:0;}
.fimnu a {border:0; background:inherit;}
.fipop {line-height:auto;}
.imgl {margin:2px 4px 0 0; width:auto;}
.left {float:left;}
.right {float:right;}
.center {text-align:center;}
.inblock {display:inline-block; text-align:center;}
.inblock a {display:block;}
.btpic a {padding:0px 0px;}
.bkg {background-color:rgba(135,135,135,0.5);}
.bar {background-color:rgba(225,222,218,0.7); border:color:#4.5;}
.console {padding:6px;}
.code {margin:0px 5px;}
.book .panel a:hover {text-decoration:none;}
.books div {text-decoration:none; display:inline-block; text-align:center; width:180px; height:240px; float:left; background-image:linear-gradient(135deg,rgba(255,255,255,0.6),rgba(225,222,218,0.6)); margin:4px; padding:20px 6px; border-width:1px; border-style:solid;}
.deskicons div {text-shadow:0 0 0px #878787; width:120px; height:90px;}
.deskicons div:hover {text-shadow:0px 0px 1px #878787;}
.deskicons img {width:50px; height:38px;}
.sicon {width:100px !important; font-size:12px; height:auto !important;}
.video img {border-width:2px; border-style:solid; transition:all 0.2s ease; height:320px; width:auto;}
.video img:hover {border-width:2px; border-style:solid; -webkit-filter:saturate(2) opacity(0.8);}
.philum {font-size:22px; display:inline-block; font-weight:normal; font-style-normal;}
.20px {min-width:20px;}
.ic-tw2 {color:#4099FF;}
.ic-fb2 {color:#3B5998;}
.popup {border-width:1px; border-radius:4px; margin:0px; box-shadow:0px 0px 8px -4px rgba(135,135,135,0.4); text-align:left;}
.popup article {margin:2px 20px; /*padding:will debord!*/}
#popup section {padding:10px; margin:0; border-radius:0; border:none;padding:6px 10px; margin:0; border-width:0;}
.popa {border-radius:4px 4px 0 0; padding:0 4px;}
.popa .philum {font-size:27px; padding:0 4px;}
.popu {padding:0; border-radius:0 0 4px 4px;}
#popup header {padding:0;margin:0;}
#popup article {margin:8px 0;}
#desktop {background:rgba(100,100,100,0.1); height:100vh; padding:0px; max-width:120px;}
@media only screen and (max-width:828px) {.thumb{width:100%; margin:0 0 5px; float:none;} h1{font-size:22px;} h2{font-size:20px;} h3{font-size:18px;} h4{font-size:16px;} .grid-art{display:block;} .panbkg{height:180px;} .justy{font-size:16px;} .pantxt{font-size:medium;} .blocks a{width:100%} .inline .panart{width:100%;} .hide-simple{display:none;} .grid-sections{
grid-template-columns:1fr;} .prw2{
grid-column-end:1;} .grid-semi{
grid-template-columns:150px 1fr;}}
@media only screen and (max-width:1040px) {#desktop{display:none;}}
