*, *:before, *:after {/*box-sizing:border-box;*/}
body {font-family:sans-serif; border:0; margin:0; padding:0; height:100%;}
a {cursor:pointer; text-decoration:none;}
pre {color:#777777; font-family:inherit; white-space:pre-wrap; word-wrap:break-word; margin: 0; display: inline-block; font-family: Lucida Console; font-size:smaller;}
tr:nth-of-type(2n) {background:rgba(0,0,0,0.1);}
td,th {padding:2px; border-width:0px; vertical-align:top;}
th {font-weight:bold; text-align:left;}
table {margin:0px; border-width:0px; border-style:solid; border-collapse:collapse;}
thead {position:sticky;}
blockquote {font-size:90%;}
img {border:0; max-width:100%;}
hr {border-width:1px; border-style:dashed; border-color:currentColor;}
ul {padding:0; margin:0 0 0 32px; list-style:disc outside;}
ol {margin:0 0 0 16px; list-style:num outside;}
li {padding:8px 0;}
input {border-color:#dcdcdc; font-family:Arial; font-size:small; border-width:1px; border-style:solid; padding:1px 2px; margin:1px;}
input:hover, input:focus {border-color:#777777;}
input:focus-visible {outline:none;}
textarea, select {background-color:#ededed; font-family:Arial; font-size:small; border-width:1px; border-style:solid; padding:0 2px; margin:1px 0;}
textarea:hover, select:hover {border-color:#777777;}
textarea:focus-visible, select:focus-visible {outline:none;}
div:focus-visible {border-color:#dcdcdc; outline:none; border-width:2px:rnborder-style:dashed;}
button {cursor:pointer; font-size:small; border-width:0px; background:none; padding:0;}
form {padding:0px; margin:0px;}
object {width:100%; min-width:320px; height:400px;}
iframe {border:0px;}
ul.panel {padding:0px 0; border:0;}
ul.panel li {list-style-type:none; display:block; padding:0; margin:0;}
ul.panel li a {padding:0 2px;}
ul.pubart li {padding:0; margin:0;}
ul.pubart li img {float:left; margin-right:4px;}
.grid-art {display:grid; grid-template-columns:260px 1fr; grid-gap:10px;}
.grid-pad {display:grid; grid-template-columns:auto auto; grid-gap:10px;}
.grid-little {display:grid; grid-template-columns:200px 1fr; grid-column-gap:10px; grid-row-gap:4px;}
.grid-semi {display:grid; grid-template-columns:100px 1fr; grid-column-gap:10px; grid-row-gap:4px;}
.grid-blocks  {display:grid;}
.grid-desk {display:grid; grid-template-columns:repeat(auto-fill, 100px); grid-template-rows:repeat(auto-fill, 84px); grid-column-gap:10px; grid-row-gap:10px;}
.grid-desk div {margin:0 auto; text-align:center; font-size:13px; height:84px;}
.grid-desk span {display:block;}
.grid-pub {display:grid; grid-template-columns:50px 1fr; grid-column-gap:10px; grid-row-gap:4px;}
.grid-2 {display:grid; grid-template-columns:1fr 1fr; grid-column-gap:10px; grid-row-gap:10px;}
.grid-3 {display:grid; grid-template-columns:1fr 1fr 1fr; grid-column-gap:10px; grid-row-gap:10px;}
.grid-4 {display:grid; grid-template-columns:1fr 1fr 1fr 1fr; grid-column-gap:10px; grid-row-gap:10px;}
.grid-x {display:grid; grid-template-columns:repeat(auto-fill, 250px); grid-column-gap:10px; grid-row-gap:10px;}
.grid-sections {display:grid; grid-column-gap:10px; grid-row-gap:10px;}
.prw3 {grid-column-start:1; grid-column-end:3; grid-row-start:1; grid-row-end:3;}
.menus {color:#333333; list-style-type:none;}
.menus a {color:#333333;}
.menus a:hover {color:#141414;}
.menus li a {display:block;}
.menu {font-size:small;}
.menu a {color:#333333; padding:0; margin:0 1px;}
.active {color:#bd0000;}
.active a:hover {color:#bd0000;}
a.txt {color:#333333;}
.txtx, .txtred, .txtblc, .txtnoir, .txtyl {border-color:#dcdcdc; font-family:Arial, Helvetica, sans-serif; text-decoration:none; font-size:small; line-height:auto; border-width:0px; border-style:solid; border-radius:2px; padding:1px 3px; margin:1px 1px 1px 0;}
.txtx {background-color:rgba(242,242,242,0.5);}
.txtred {background-color:rgba(242,242,242,0.5);}
.txtblc {background-color:rgba(237,237,237,0.5);}
.txtnoir {color:#ffffff; background-color:rgba(20,20,20,0.8);}
.txtnoir a {color:#ffffff;}
.txtnoir a:hover {color:#ededed;}
.txtyl {color:#dcdcdc; background-color:#bd0000; box-shadow: 0px 0px 4px #aaa, 0px 0px 4px #fff inset;}
.txtyl a {color:#dcdcdc; background-color:#bd0000;}
.txtyl a:hover {color:#f2f2f2; background-color:#bd0000;}
.txtyl:hover {color:#ededed; background:red; box-shadow: 0px 0px 4px #aaa, 0px 0px 4px #fff inset;}
.txtbox a {color:#333333;}
.txtbox {border-color:#777777; font-size:small; padding:1px 4px; margin:1px 2px 2px 0; border-radius:2px; border-style:solid; border-width:1px; box-shadow:0;}
.txtalert {color:#333333; background-color:#dcdcdc; border-color:#777777; font-family:Arial; font-size:small; border-width:1px; border-style:solid; padding:4px; border-radius:2px; box-shadow: 2px 2px 4px #777777; display:inline-block;}
.txtsmall a {color:#777777;}
.txtsmall a:hover {color:#333333;}
.txtsmall {font-family:Arial; font-size:small;}
.txtsmall2 a {color:#777777;}
.txtsmall2 a:hover {color:#333333;}
.txtsmall2 {font-family:Arial; font-size:small;}
.note a {color:#777777;}
.note a:hover {color:#333333;}
.note {font-size:smaller;}
.txtcadr {border-width:0; border-style:solid; padding:2px 4px;}
.usermenu a {color:#333333;}
.usermenu a:hover {color:#141414;}
.usermenu {}
.txtit {font-size:larger; margin:0 0 0px 0; text-shadow:1px 1px 2px #777777;}
.red {color:#bd0000;}
.blue {color:#333399;}
.violet {color:#993399;}
.green {color:#339933;}
.justy {/*text-align:justify*/}
.justy img {max-width:100%;}
.taxonomy li {list-style-type:auto; padding:0; font-family:Verdana; font-size:small;}
.taxonomy div {margin:4px 0;}
.frame-white,frame-blue,frame-red,frame-green,frame-cyan,frame-yellow,frame-purple,frame-orange,frame-black {margin:4px 0; padding:5px;}
.frame-white {background:#faebd71f; border:1px solid #faebd766;}
.frame-blue {background:#0064ff4a; border:1px solid #0064ff;}
.frame-red {background:#dc143c4a; border:1px solid #dc143c;}
.frame-green {background:#9acd3273; border:1px solid #9acd32;}
.frame-cyan {background:#00ffff47; border:1px solid #00ffff82;}
.frame-yellow {background:#ffd7007a; border:1px solid #ffd700;}
.frame-purple {background:#ff00ef42; border:1px solid #ff00ef;}
.frame-orange {background:#ff7b0042; border:1px solid #ff7b00;}
.frame-black {background:#00000042; border:1px solid #000000;}
.nl2br {white-space:break-spaces;}
.console {font-family:Lucida Console, Courier New; background-color:#2F2F2F; border-left:4px solid #000; word-wrap:break-word; color:#fff; border:0;}
.code {color:#ededed; background-color:#333333; font-family:monospace; word-wrap:anywhere; white-space:pre-line; padding:2px 4px; background:#222; color:#ddd; font-size:large; border:1px solid #555;}
.editor {font-family:Lucida Console, Courier New; word-wrap:break-word;}
.editarea {font-family:Lucida Console, Courier New; word-wrap:break-word; padding:16px; min-height:20px; border:1px dotted rgba(119,119,119,0.4);}
.sticky {background-color:#ededed; position:sticky; top:24px; z-index:1;}
.popup .sticky {top:0px;}
.nbp {color:#141414; font-size:smaller;}
.nbp a {color:#141414; border-color:#dcdcdc; padding:0 3px; border-style:solid; border-width:1px; display:inline-block;}
.nbp a {color:#141414;}
.nbp a:hover {color:#333333;}
.nbp a:hover {color:#141414; background-color:#ffffff; border-color:#dcdcdc;}
.nbp .active {color:#333333; background-color:#ffffff; border-color:#dcdcdc;}
.list {color:#333333;}
.list a {color:#333333;}
.list a:hover {color:#141414;}
.list a {display:block !important; padding:2px; font-size:small; border:none;}
.list a:hover {color:#141414; background-color:#dcdcdc;}
.list a.active {background-color:#dcdcdc;}
.topology ol {list-style-type:upper-roman;}
.topology ol ol {list-style-type:upper-alpha;}
.topology ol ol ol {list-style-type:lower-alpha;}
.topology ol ol ol ol {list-style-type:decimal;}
.topology ol ol ol ol ol {list-style-type:disclosure-closed;}
.topology li a {padding:1px 2px;}
.topology li ul {border-left:1px dotted #777777;}
.topology li ul.on {display:block !important;}
.topology li ul.off {display:none !important;}
.ulnone ul {list-style-type:none;}
.bub {position:relative; text-decoration:none; display:inline-block;}
.sub {padding:4px 7px; margin:0px; min-width:140px; max-width:400px;}
.txtaa, .txtab, .txtac {border-color:#dcdcdc; margin:0 0 0px 0; padding:2px 4px; font-size:smaller; line-height:150%; border-style:solid; border-width:1px 1px 0 1px; border-radius:4px 4px 0px 0px;}
.txtaa {color:#141414; background-color:#ededed;}
.txtab {color:#333333; background-color:#f2f2f2; border-color:#dcdcdc; border-bottom-width:1px; border-bottom-style:solid;}
.txtab:hover {background-color:#ffffff; background:0;}
.txtac {border-color:#dcdcdc; border-width:0 0 1px 0; padding:2px 0;}
.tabs {background-color:#dcdcdc; border-color:#dcdcdc; border-style:solid !important; border-style:0 0 1px 0 !important;}
.tabs a {background-color:#dcdcdc; border-color:#dcdcdc; margin:0 0 -1px 0 !important; padding:0px 4px !important; font-size:smaller; line-height:150% !important; border-style:solid !important; border-width:1px !important; border-radius:4px 4px 0px 0px;}
.tabs a.active {background-color:#ededed; border-color:#dcdcdc; border-width:1px 1px 0 1px !important;}
.tabs a:hover {background-color:#ededed; border-color:#dcdcdc;}
.tabs:after {border-color:#777777; content:" "; border-style:solid !important
border-width:0 0 1px 0 !important;}
.popbt, .popw, .poph, .popsav, .popdel {color:#141414; border-color:#777777; font-family:Arial,sans-serif; padding:1px 4px; margin:2px; font-size:smaller; line-height:150%; border-radius:2px; border-width:0px; border-style:solid;}
.popdel {color:#ededed; background-color:#bd0000;}
.popdel:hover {background:red;}
.poph {color:#777777; border-radius:2px;}
.poph a {color:#777777;}
.poph a:hover {color:#333333;}
.philum {color:#333333; font-family:'philum'; font-size:16px;}
a.active .philum {color:#bd0000;}
.grey .philum {color:#777777;}
.grey .philum a {color:#777777;}
.grey .philum a:hover {color:#141414;}
.pictos-red .philum {color:#bd0000 !important;}
.pictos-green .philum {color:#00bd00 !important;}
.pictos-blue .philum {color:#0000bd !important;}
.pictos-small .philum {font-size:12px;}
.search input {font-size:small; padding:1px 4px; border-style:solid; border-width:1px; border-radius:7px;}
.stabilo {background-color:rgba(255,230,0,0.8);}
.txtclr {color:#bd0000; font-weight:bold;}
.title {font-size:bigger;}
.ascii {font-size:20px; line-height: 1.2em;}
.cols {columns:auto 300px; margin-top:10px;}
.colspan {column-span:all;}
.track, .trkmsg {margin:4px 0; padding:7px;}
.trkmsg {border-width:0;}
.book {color:#f2f2f2; background-color:#141414; font-size:medium; text-align:center; padding:20px;}
.book a {color:#dcdcdc;}
.book .panel {color:#f2f2f2; background-color:#333333; border-color:#f2f2f2; text-align:left; border-style:solid; border-width:1px; padding:10px; margin:10px 0 0; border-radius:2px; box-shadow:0px 0px 4px #141414 inset;}
.book .panel a {color:#ededed;}
.book .panel a:hover {color:#777777;}
.pad {font-size:large; padding:16px; max-width:100%; line-height:1.2em; border:1px dotted silver; max-height:calc(100vh - 130px); word-wrap:break-word; overflow-y:auto;}
.bubble {background-color:#ededed; padding:4px 6px; margin:0px; border-radius:4px; border-width:1px; border-style:solid; box-shadow:0 0 10px -5px #141414; text-align:left; font-size:small; line-height:1em; font-family:Arial; min-width:240px; max-width:500px;}
.imgl {float:left; margin:2px 4px 0 0;}
.imgr {float:right; margin:2px 0 0 4px;}
.fix {background-color:#f2f2f2; position:fixed;}
.right {float:right;}
.tright {text-align:right;}
.small {font-size:small;}
.scroll, .scrollb, .scrollc {max-height:400px; overflow-y:auto; overflow-x:hidden; word-wrap:break-word; scrollbar-width:thin;}
.scroll {max-height:400px; min-width:140px;}
.scrollb {max-height:200px; overflow-x:auto; max-width:100%;}
.scrollc {max-height:100px; overflow-y:auto; overflow-x:auto; max-width:100%;}
.cell {display:table-cell; border:1px solid silver; padding:0 2px 3px 2px;}
.row {display:table-row;}
.table {display:table;}
.clear {clear:both;}
.hide {opacity:0.5;}
.shadow {box-shadow:0 0 4px #777777;}
.bkg {background-color:rgba(220,220,220,0.7);}
.bar {border-color:#777777; display:inline-block; background-color:rgba(220,220,220,0.7); border-width:1px; border-style:solid; border:color:#4.5;}
.und {text-decoration-color:currentColor; text-decoration-style:solid; text-decoration-thickness:1px; text-decoration-line:underline;}
.und-noclr {text-decoration-color:currentColor;}
.und-double {text-decoration-style:double;}
.und-dashed {text-decoration-style:dashed;}
.und-dotted {text-decoration-style:dotted;}
.und-wavy {text-decoration-style:wavy;}
.und-thick2 {text-decoration-thickness:2px;}
.und-under {text-decoration-line:underline;}
.und-strike {text-decoration-line:line-through;}
.und-over {text-decoration-line:overline;}
.und-undover {text-decoration-line:underline overline;}
.und-bottom {text-underline-position:under;}
#page {margin:0 auto;}
#titles {margin:6px 0;}
#menu li a {color:#333333;}
#menu li a:hover {color:#141414;}
#menu li {display:inline; padding:0; margin:0;}
#menu li a {margin:0 2px;}
#article {margin:0px 0 0 0;}
#board {list-style-type:none; padding:4px; border-width:0px; border-style:solid;}
#rez {max-width:100%;}
#navdir {overflow-y:scroll;}
#scroll {overflow-y:scroll; height:400px;}
#finder {text-decoration:none; overflow:auto;}
#popu {text-decoration:none;}
#bub {color:#333333; position:fixed; list-style:none;}
#bub ul {background-color:#ededed; width:auto; margin:0;}
#bub li a {color:#141414;}
#bub li {padding:0; margin:0; list-style:none;}
#bub li a {color:#333333; padding:1px; display:block; padding:2px 4px;}
#bub li ul {background-color:#ededed; text-align:left; border-width:0px; border-style:solid; width:auto;}
#bub li li {min-width:120px;}
#bub li ul.nob {width:auto;}
#bub li ul.nob a {padding:0px 2px; display:inline; font-weight:normal;}
#bub li ul ul.nob {/*width:200px;*/}
#bub.inline ul {background-color:#dcdcdc; margin:0; width:auto; border-width:0px; border-style:solid;}
#bub.inline ul li {display:inline;}
#bub.inline ul li a {display:inline-block;}
#bub.inline ul li .menus a {display:block;}
#bub.inline li li a {display:block;}
#bub.inline li .nob a {display:inline;}
#bub.inline ul ul li {display:block;}
#clbub {position:fixed; z-index:0; top:0; user-select:none;}
#dragup {background-color:#ffffff; border-color:#777777; width:318px; height:80px; border-width:1px; border-style:dotted; background:url(/imgb/icons/upload.png) no-repeat center center;}
#desktop {position:fixed; top:0; right:0px; padding:0; font-size:small; text-align:center; user-select:none; overflow:auto; scrollbar-width:thin;}
#trkdsk {position:fixed; top:calc(50% - 150px); right:0px; z-index:2;}
.desk a {font-size:small; text-align:center; display:inline-block; user-select:none;}
.panbkg {background-size:cover; background-position:center center; margin:0 0 10px 0;}
.lina {color:#777777; float:left; width:16px;}
.lina {color:#777777;}
.linc {float:left; width:16px;}
.fisub {margin-left:20px;}
.fimnu {border:0; margin:0; padding:0;}
.fimnu a {color:#777777; padding:0; margin:0; border-radius:2px; border:1px solid #f2f2f2;}
.fimnu a:hover {color:#141414;}
.fimnu .active {color:#141414;}
.fipop {color:#141414; background-color:#f2f2f2; border:1px solid silver; border-radius:4px; padding:0 2px; margin:2px 0;}
.fipop:hover {border:1px solid grey;}
.flap {float:left; padding:0; overflow:auto; height:340px; border-style:solid; border-width:0px;}
.flap ul {padding-left:0px;}
.flap li {list-style:none; padding:0; margin:0;}
.flap li a {display:block; background-image:url(/imgb/icons/system/philum/16/folder.png); background-repeat:no-repeat; padding-left:18px; padding-right:4px;}
.flap li a:hover {background-color:#ededed;}
.flap li a.active {background-color:#ededed; background-image:url(/imgb/icons/system/philum/16/folderhover.png); background-repeat:no-repeat; padding-left:18px;}
.flap a:hover {color:#bd0000;}
.flapf {background-color:#ededed; float:left; padding:4px; overflow:auto; height:340px; border-style:solid; border-width:0px;}
.deskicons {font-size:small;}
.deskicons div {display:inline-block; overflow:hidden; text-align:center; width:90px; height:70px; padding:0 4px; margin:2px;}
.deskicons div span {display:block;}
.sicon {max-width:100px;}
.dicon {max-width:120px; padding:4px;}
.popvideo {float:left; font-size:small; text-align:center; margin:4px 10px 0 0;}
.loading {color:#ededed; font-size:14px; font-weight:bold; position:fixed; display:block; z-index:2000; padding:4px 10px 2px; box-shadow:0 1px 2px #333333; text-shadow:0 0 4px #141414;}
.loading a {color:#ededed;}
label.uplabel input[type=file] {color:#ededed; position:fixed; top:-100px;}
.admnu {height:22px;}
.pagup {background-color:rgba(20,20,20,0.8); box-shadow:0px 0px #000;}
.popup {background-color:#f2f2f2; border-color:#777777; border-width:1px; border-style:solid; padding:0; border-radius:2px; diplay:inline-block;}
.popa {background-color:#dcdcdc; cursor:move; padding:0 4px 2px 4px; border-radius:2px 2px 0px 0px;}
.popu {padding:2px 4px;}
.bevel {color:#141414; text-shadow:0 0 4px #777777, 0 1px 0 #ededed;}
.smtitle {overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.left {float:left;}
.microsys {font-family:microsys; font-size:32px; line-height:30px; margin-right:0.4em;}
.row1 {grid-row:1;}
.row2 {grid-row:2;}
.row3 {grid-row:3;}
.row4 {grid-row:4;}
.row5 {grid-row:5;}
.col1 {grid-column:1;}
.col2 {grid-column:2;}
.col3 {grid-column:3;}
.col4 {grid-column:4;}
.col5 {grid-column:4;}
.colspan12 {grid-column-start:1; grid-column-end:2;}
.colspan13 {grid-column-start:1; grid-column-end:3;}
.colspan14 {grid-column-start:1; grid-column-end:4;}
.colspan15 {grid-column-start:1; grid-column-end:5;}
.colspan16 {grid-column-start:1; grid-column-end:6;}
.rowspan13 {grid-row-start:1; grid-row-end:3;}
