@font-face {font-family: 'newsnet'; src: url('/fonts/newsnet.woff2') format('woff2'), url('/fonts/newsnet.woff') format('woff'), url('/fonts/newsnet.svg#nn') format('svg');}
body {color:#333333; background-color:#d6d6d6; font-family:sans-serif;}
a:active {outline:none;}
h1,h2,h3,h4,h5 {color:#333333; margin:0;}
h1 a {color:#333333;}
h1 a:hover {color:#0f120f;}
.ban h1 {color:#0f120f; font-size:28px; background-image:linear-gradient(to right,#0088ff, #0f120f); background-clip:border-box; text-fill-color:transparent;}
.ban h1 a {color:#0f120f;}
h2 a {color:#333333;}
h2 a:hover {color:#0f120f;}
h2 a:hover {color:#0f120f;}
h2 a:focus {color:#0f120f;}
h2 a:visited {color:#333333;}
h3 a {color:#333333;}
h3 a:hover {color:#0f120f;}
#titles h3, header h3 {color:#0f120f; margin:0 0 12px 0; display:inline; font-size:large; font-weight:normal; font-variant-caps:small-caps; /*font-family:newsnet;*/}
#titles h3, header h3 a {color:#0f120f;}
#titles h3, header h3 a:hover {color:#0f120f;}
#titles h4 {color:#0f120f; margin:0; font-weight:normal;}
#titles h4 a {color:#0f120f;}
#titles h4 a:hover {color:#0f120f;}
h4 a {color:#333333;}
h4 a:hover {color:#0f120f;}
h5 a {color:#333333;}
h5 a:hover {color:#0f120f;}
.justy h5, .justy h4, .justy h3, .justy h2, .justy h1 {color:#333333; margin:0.5em 0;}
article.panel p:first-child  {margin-top:0;}
article.panel p:last-child {margin-bottom:0;}
tr:nth-of-type(2n) {background:rgba(0,0,0,0.02);}
td,th {color:#0f120f; border-color:#8f8f8f; padding:4px; margin:2px;}
th {color:#0f120f; background-color:#e1dfcf; border-color:#8f8f8f;}
table {border-color:#8f8f8f; font-size:80%;}
blockquote {font-family:Arial; margin:2px 0; padding:12px 18px; border-style:solid; border-width:2px; border-radius:4px; text-align:left; font-size:90%; background-color:rgba(225,223,207,0.4); border-color:rgba(143,143,143,0.4); box-shadow:0px 0px 18px 0px rgba(143,143,143,0.4);}
header {padding:0;}
.popup header {padding:4px 10px 0;}
header h3 {margin:0 0 10px 0; display:block; font-size:large;}
section {clear:both; margin:10px 0 0px 0; padding:10px 0; /*transition: all 0.2s cubic-bezier(.77,0,.18,1);*/ border-radius:0px;}
section:hover .thumb {filter:grayscale(0%);}
section header {margin-top:-8px; margin-bottom:0px;}
section h4 {font-weight:normal;}
section .imgl {margin-right:10px;}
article {clear:left; margin:4px 0px;}
figure {margin:0;}
figcaption {color:#333333; font-family:Arial; font-size:smaller;}
hr {border-color:#333333;}
ul {padding:0; margin:0 0 0 16px;}
ul ul {margin:0 0 0 16px;}
ol {margin:0 0 0 16px;}
ol ol {margin:0 0 0 16px;}
li {padding:0px 0;}
sup {line-height:0;}
sub {line-height:0;}
img {filter:invert(0%);}
input {color:#333333; background-color:#e1dfcf; border-color:#d6d6d6; border-width:1px; border-style:solid; border-radius:0px; font-size:small; transition: background 0.2s linear; box-sizing:border-box; margin:1px 3px; padding:1px 2px; transition: all 0.2s linear;}
input:hover {background-color:#e1dfcf; border-color:#8f8f8f;}
input:focus {background-color:#e1dfcf; border-color:#8f8f8f;}
textarea:hover {border-color:#8f8f8f;}
div:focus-visible {border-color:#e9e7e8;}
textarea {color:#333333; background-color:#e9e7e8; border-color:#e9e7e8; box-shadow: 0 0 4px #e1dfcf; padding:0 2px; margin:0px 0; border-radius:2px; box-sizing:border-box; -moz-box-sizing:border-box;}
textarea:hover, textarea:focus {border-color:#8f8f8f;}
select {color:#0f120f; background-color:#e1dfcf; border-color:#e9e7e8; box-shadow:0 0 2px #e1dfcf;}
button {color:#333333; font-size:smaller;}
submit {color:#0f120f; background-color:#e1dfcf; border-color:#e9e7e8;}
fieldset {background:rgba(225,223,207,0.2); margin:4px 0; padding:10px; border:1px solid #8f8f8f; box-shadow:0;}
legend {background:rgba(225,223,207,0.2); border:1px solid #8f8f8f;}
iframe {border:0px solid #8f8f8f;}
object {border:0;}
aside {background-color:#d8d8d6; font-size:smaller; padding:16px; border:0px solid #e9e7e8; background-image:linear-gradient(180deg,rgba(233,231,232,0.2),#d6d6d6)}
fact {padding:0px 5px; text-shadow:0px 1px 2px #8f8f8f;}
quote {background-color:#e1dfcf; padding:0px 5px;}
#page {width:inherit; margin:0 10px; padding:0 10px; max-width:800px;}
#banner {padding:0; width:100%}
#banner .banim {background-size:cover; background-position:0; height:calc(100vw/4);}
#menu {color:#0f120f; border-width:0; line-height:20px;padding:0 0 10px;}
#menu a {color:#0f120f;}
#menu a:hover {color:#0f120f;}
.menus a:hover, .menus a.active {text-shadow:0px 0px 1px #8f8f8f;}
.menu {color:#333333; background-color:#e1dfcf; text-shadow:0px 0px 1px #8f8f8f; padding:2px 4px;}
.menu a {color:#333333;}
.menu a.hover, menu a.active {color:#0f120f; text-shadow:0px 0px 1px #333333; color:#0f120f !important;}
.menu a.active, menu a.active {background-color:#e9e7e8;}
#navigation {color:#0f120f; border-width:0; line-height:normal; margin:0 0 10px 0;}
#navigation a {color:#0f120f;}
#navigation a:hover {color:#0f120f;}
.menu a:hover, .menus a.active {color:#0088ff;}
.menus {color:#333333; font-size:100%; margin:4px 0 0 0;}
.menus a {color:#333333;}
.menus a:hover {color:#0f120f;}
#lbar {position:fixed; width:280px; height:calc(100vh - 40px); overflow-y:auto; scrollbar-width:none;}
#mbar {width:720px; margin-left:296px;}
#rbar {width:380px;}
.menus a {padding:4px 6px;}
.menus a:hover {background-color:#e1dfcf; text-shadow:0px 0px 1px #8f8f8f;}
.menus a.active {background-color:#e1dfcf; text-shadow:0px 0px 1px #8f8f8f;}
#titles {color:#0f120f;}
#leftbar {float:left; width:px;}
#rightbar {width:220px; padding:0; margin:0; display:none; float:right;}
#rightbar .mod {padding:0px; margin:0 0 16px 0;}
#content {margin:0 10px;}
#footer {color:#0f120f; clear:both; text-align:left; border-radius:inherit;}
#drop li {display:inline-block;}
#drop a {display:block;}
#drop li ul {display:none;}
#drop li:hover ul {display:inline-block; position:absolute; left:0;}
#menu li a {color:#333333;}
#menu li a:hover {color:#0f120f;}
#menu li {float:none;}
#menu a {font-family:Arial; font-size:small; border-width:0; border-style:solid; padding:2px 4px; margin:0px 0; line-height:20px;}
#menu a:hover {text-shadow:0px 0px 1px #8f8f8f;}
#menu a.active {text-shadow:0px 0px 1px #8f8f8f;}
#menu .panel {display:block; font-weight:normal; font-family:Verdana;}
#menu .philum {font-size:23px;}
#menu .panel a {border:0;}
#artmod {display:none; margin-left:10px; margin-top:2px;}
#desktop {padding:0px; background:rgba(225,223,207,0.4); height:100%; box-shadow:0px 0px 0px #e1dfcf; max-width:80px; backdrop-filter:blur(0px);}
#board {padding:0;}
input#srch {width:120px; padding:1px 3px 1px;}
input#srch:focus {width:120px;}
#board li {background-color:#e9e7e8; box-shadow:0px 0px 4px #e9e7e8; margin:4px 2px; padding:4px; font-size:small;}
#board li a {color:#333333;}
#board li a:hover {color:#0f120f; text-shadow:0px 0px 1px #e9e7e8;}
#bub {z-index:1;}
#bub li {padding:1px 2px 2px;}
#bub li.active {background-color:#e1dfcf;}
#bub.inline li a.active {color:#0f120f;}
#bub li a {padding:0px 2px 1px;}
#bub li ul {min-width:120px;background-color:#d8d8d6; padding:2px 2px 2px;}
#bub li li a {padding:2px 2px 2px;}
#bub ul {color:#333333; background-color:#d6d6d6; box-shadow:0;}
#bub ul a {color:#333333;}
#bub ul a:hover {color:#0f120f;}
#bub ul ul {color:#333333; border-color:#8f8f8f; border-style:solid; border-width:1px;}
#bub ul ul a {color:#333333;}
#bub.inline ul a {color:#333333;}
#bub.inline ul a:hover {color:#0f120f;}
#bub.inline ul {background-color:#d6d6d6; border-radius:4px;}
#bub.inline ul ul a {color:#333333;}
#bub.inline ul ul a:hover {color:#0f120f;}
#bub.inline ul ul {background-color:#e1dfcf; border-color:#8f8f8f; border-width:1px;}
#bub li li:hover {background-color:#d6d6d6;}
#bub .philum {color:#333333; line-height:20px; min-width:16px;}
.desk a {color:#333333; width:56px; padding:0 4px; margin:0 4px;}
.desk a:hover {color:#0f120f; background-color:#e1dfcf;}
.tab {border-color:#e9e7e8; margin:0 0 10px 0;font-size:small; line-height:20px;}
.panel {color:#333333; font-family:Arial,Sans; padding:4px 0;}
.panel a {color:#0088ff;}
.panel a:hover {color:#0088ff;}
.panel a:hover {text-decoration:underline;}
ul.panel li {font-family:Arial; margin:0px 0; font-size:small;}
ul.panel li a {color:#0f120f; border-color:#e9e7e8; word-wrap: break-word;}
ul.panel li a {color:#0f120f;}
ul.panel li a:hover {color:#0088ff; border-color:#d6d6d6;}
.justy {color:#0f120f; font-family:Georgia; font-size:20px; text-align:left; line-height:1.2em;}
.justy a {color:#0088ff;}
.justy a:hover {color:#0088ff;}
.justy p {margin:12px 0;}
.justy a {text-decoration:none;}
.justy a:hover {text-decoration:underline;}
.justy h1 {font-size:xx-large;}
.justy h2 {font-size:x-large;}
.justy h3 {font-size:20px;}
.justy h4 {font-size:20px;}
.simple .thumb {height:100px;}
.justy h5 {color:#8f8f8f;}
.justy img {border-color:#8f8f8f; border-width:1px; border-style:solid; max-width:auto;}
.cols img#rez {width:100%;}
.txtcadr:hover {color:#0f120f; background-color:#e1dfcf;}
.txtcadr:hover a {color:#0f120f;}
.justy .philum {line-height:1em;}
.grid-art {display:grid; grid-template-columns:300px auto; grid-column-gap:16px; grid-row-gap:4px;}
.thumb {border-color:#8f8f8f; background-size:100%; background-position:center center; height:160px; width:298px; float:left; margin:0 10px 10px 0; transition: all 0.3s ease; border-width:1px; border-style:solid; background-size:100%; filter:contrast(90%) brightness(97%); background-image:linear-gradient(to bottom,rgba(0,136,255,0.4),rgba(225,223,207,0.4)),linear-gradient(45deg,rgba(225,223,207,0.4),rgba(0,136,255,0.4));}
.txtx:hover {background-color:#e1dfcf; text-decoration:none;}
.thumb:hover {border-color:#0f120f; background-size:100%; filter:contrast(100%) brightness(100%);}
.effect {filter:contrast(100%) brightness(400%) invert(100%);}
.txtred:hover {background-color:#e1dfcf; box-shadow:0px 1px 2px #fff inset, 0px 0px 4px #8f8f8f;}
.active {color:#0088ff; !important}
.active a:hover {color:#0088ff;}
a.txtyl {color:#d8d8d6 !important; text-decoration:none !important;}
.txtyl:hover {color:#e1dfcf;}
.txtit {color:#0f120f; font-size:21px; text-shadow:inherit; font-weight:bold;}
.txtit a {color:#0f120f;}
.txtit a:hover {color:#0088ff;}
.txtcadr {color:#333333; border-color:#e9e7e8; font-size:large; margin:0px 0; padding:3px 5px; font-variant:petite-caps;}
.txtcadr a {color:#0f120f;}
a.txtcadr:hover {color:#0f120f; background-color:#e1dfcf;}
a.txtcadr:hover a {color:#0f120f;}
.txtcadr.active {color:#0f120f;}
.txtcadr.active a {color:#0f120f;}
.txtx, .txtred, .txtblc, .txtnoir, .txtyl {color:#0f120f; border-radius:2px; border-style:solid; border-width:0px; box-shadow:0px 0px 2px #e9e7e8; font-size:0.8em;}
.txtx, .txtred, .txtblc, .txtnoir, .txtyl a {color:#0f120f;}
.txtx, .txtred, .txtblc, .txtnoir, .txtyl a:hover {color:#333333;}
.txtx {color:#0f120f; background-color:#d8d8d6; border-color:#8f8f8f; border-width:0;}
.txtx a {color:#0f120f; border-color:#8f8f8f;}
.author {color:#0088ff;}
.title {color:#0f120f; font-size:large;}
.ascii {font-size:20px; line-height: 1.2em;}
.txtx.active {background-color:#8f8f8f; border-width:0;}
.txtbox:hover {background-color:rgba(51,51,51,0.5);}
a.txtx:hover {background-color:#e1dfcf; text-decoration:none;}
.txtblc {color:#0f120f; background-color:#e1dfcf; box-shadow: 0px 0px 2px #8f8f8f;}
.txtblc a {color:#0f120f;}
.txtblc a:hover {color:#0f120f;}
.txtred a:hover {border-color:#;}
.txtred {border-color:red; border-width:1px; box-shadow: 0px 1px 1px #e1dfcf inset, 0px 0px 2px #8f8f8f; padding:2px 4px;}
a.txtred:hover {background-color:#e1dfcf; box-shadow: 0px 1px 2px #fff inset, 0px 0px 4px #8f8f8f;}
.txtnoir {color:#d8d8d6; background-color:#333333; box-shadow: 0px 0px 4px #e9e7e8;}
.txtnoir a {color:#d8d8d6;}
.txtnoir a:hover {background-color:#0f120f;}
.popbt:hover {color:#0f120f; border-color:#d6d6d6; background-color:rgba(214,214,214,0.5);}
a.txtyl, a.txtyl:hover {color:#e1dfcf; font-size:small;}
.poph:hover, .poph.active {color:#0f120f; background-color:rgba(216,216,214,0.5);}
.txtsmall {color:#0f120f; font-family:Arial; font-size:80%; padding:0px 1px; border-width: 1px 0 0 0;}
.txtsmall a {color:#0f120f;}
.txtsmall a:hover {color:#0088ff;}
.popw:hover, .popw.active {color:#0f120f; border-color:#8f8f8f; background-color:rgba(143,143,143,0.5);}
.txtsmall a {text-decoration:underline;}
.popsav:hover {color:#0f120f; border-color:#0088ff; background-color:rgba(0,136,255,0.5);}
.popsav:hover .philum {color:#0f120f;}
.txtsmall2 {color:#333333; font-family:Arial; font-size:70%; padding:0px 1px;}
.txtsmall2 a {color:#333333;}
.txtsmall2 a:hover {color:#333333;}
.popdel:hover {color:#0f120f; border-color:rgba(190,0,0,1); background-color:rgba(190,0,0,0.5);}
.popdel:hover .philum {color:#0f120f;}
.point {color:white; border-radius:16px; font-size:12px; padding:2px 6px;}
.txtsmall2 a {padding:0 2px; border-radius:2px;}
.popbt .philum, .popw .philum, .popsav .philum, .popdel .philum {margin-top:2px;}
.txtbox {color:#e9e7e8; background-color:#0088ff; box-shadow:0px 0px 0px #e9e7e8;}
.txtbox a {color:#e9e7e8;}
.txtbox a:hover {color:#d8d8d6;}
a.txtbox:hover {background-color:#333333; box-shadow:0px 0px 0px #e9e7e8;}
.txtaa, .txtab, .txtac {border-color:#d6d6d6; border-width:0 0 0px 0; border-style:solid; line-height:20px; border-radius:6px 6px 0px 0px;}
.grey.active:hover .philum {color:#bd0000;}
.txtaa {color:#0f120f; background-color:#e1dfcf; box-shadow:0px 0px 4px -3px #8f8f8f;}
.txtab {color:#333333; background-color:#e9e7e8; box-shadow:0px 0px 4px -3px #8f8f8f;}
.txtab:hover {color:#0f120f; background-color:#e1dfcf;}
.txtac {border-width:0 0 1px 0; background:linear-gradient(to bottom,rgba(143,143,143,0),rgba(143,143,143,0.5));}
.popbt, .popw, .popsav, .popdel {color:#333333; border-color:#d6d6d6; text-decoration:none; padding:2px 4px; border-radius:2px; border-style:solid; border-width:1px; margin:1px;}
.popbt {color:#0f120f; background-color:#d6d6d6; border-color:#d6d6d6;}
.popbt a {background-color:#e9e7e8;}
a.popbt:hover {color:#0f120f; background-color:#e1dfcf; border-color:#8f8f8f;}
.popbt.active {color:#0f120f; background-color:#e1dfcf; border-color:#e9e7e8;}
.poph {color:#333333;}
.poph a {color:#333333;}
.poph a:hover {color:#0f120f;}
a.poph:hover {color:#0f120f; background-color:#d6d6d6;}
.popw {color:#0f120f; background-color:#e1dfcf; border-color:#e9e7e8;}
a.popw, a.popw:hover {background-color:#e1dfcf; border-color:#8f8f8f;}
.popsav {color:#0f120f; background:rgba(0,136,255,0.4);}
.track {color:#0f120f; background-color:#e9e7e8; border-color:#8f8f8f; font-size:1em; margin:0 0 2px 0; border-width:0px; border-style:solid; padding:4px 6px 2px; border-collapse:collapse; border-radius:10px;}
.track a:hover {color:#333333;}
a.popsav:hover {color:#0f120f; background-color:#e1dfcf; border-color:#0088ff;}
.grey .active .philum:hover {color:#bd0000;}
.popdel {color:#0f120f; background-color:#e9e7e8; background-color:rgba(190,0,0,0.4);}
.popdel a:hover {color:#d8d8d6;}
.trkmsg a {text-decoration:underline;}
a.popdel:hover, a.popdel:hover .philum {color:#0f120f; background-color:#e1dfcf; border-color:rgb(190,0,0);}
a.stabilo, .trkmsg a.stabilo, a.stabilo .philum, .trkmsg a:hover.stabilo {color:black;}
.stabilo {color:black;}
.txtclr {color:#0088ff; font-weight:normal;}
.txtclr a {color:#0088ff;}
.grey {color:#8f8f8f;}
.grey a {color:#8f8f8f;}
.grey a:hover {color:#0f120f;}
.grey .philum {color:#8f8f8f;}
.grey .philum a {color:#8f8f8f;}
.grey .philum a:hover {color:#0f120f;}
.grey .philum:hover {color:#333333;}
.blocktext {background-color:#e1dfcf; border-color:#8f8f8f;}
.cols {columns:auto 250px; margin-top:10px;}
.cols .pubart {display:inline-block;}
.cols .panart {display:inline-block; width:100%; border-style:solid; border-width:0px;}
.cols div {/*display:inline-block;*/}
.cols section {display:inline-block;}
.cols p {margin:0 0 20px;}
.blocks a {display:inline-block; width:270px; margin:0 5px;}
.colsmall {columns:auto 140px; -moz-columns:auto 140px; font-size:90%; line-height:130%;}
.colsmall a {display:block;}
.pantxt .author {color:#0088ff; background-color:#d6d6d6; border-color:#0f120f; padding:6px 6px 1px 6px; border-style:solid; border-width:1px; border-bottom-color:#d6d6d6; border-radius:4px 4px 0 0;}
.pantxt .title {background-color:#d6d6d6; border-color:#0f120f; font-size:large; padding:6px; border-style:solid; border-width:1px; border-radius:0 4px 4px 4px;}
.search input {background-color:#d6d6d6; border-color:#8f8f8f; font-size:small; border-radius:2px;}
.search input:hover {background-color:#e1dfcf; border-color:#333333; font-size:small; border-radius:2px;}
.search input:focus {background-color:#e1dfcf; border-color:#333333;}
.track, .trkmsg {color:#0f120f; border-color:#8f8f8f; font-size:1em; margin:0 0 2px 0; border-width:0px; border-style:solid; padding:4px 6px; border-collapse:collapse; background-color:rgba(143,143,143,0.2);}
.track, .trkmsg a {color:#0088ff;}
.track, .trkmsg a:hover {color:#333333;}
#popup .track {color:#0f120f;}
.track a {text-decoration:underline;}
.trkmsg {border-width:0px; background-color:rgba(216,216,214,0.8);}
.letter {color:#0f120f; background-color:#d6d6d6; font-size:17px; font-family:times, serif; line-height:20px; text-align:justify; padding:20px; box-shadow:2px 2px 5px #8f8f8f;}
.letter a {color:#0088ff;}
.letter a:hover {color:#0088ff;}
.inline .panart {display:inline-block; width:296px; margin:3px;}
.twit {color:#0f120f; border-color:#e1dfcf; padding:10px; margin:1px 0; border-radius:10px; border-width:1px; border-style:solid; box-shadow:1px 1px 3px rgba(143,143,143,0.2); text-align:left; font-size:16px; line-height:1em; white-space:break-spaces; background-color:rgba(225,223,207,0.8);}
.twitter {color:#333333; border-color:#e9e7e8; padding:10px 0;}
.twitter a {color:#0f120f;}
.twitter a:hover {color:#0088ff;}
.twitter:hover {background-color:#e9e7e8; border-color:#8f8f8f;}
.pubart {margin-bottom:10px; text-align:left;}
.pubart h4 {margin:2px 0 12px;}
.pubart h4 a {line-height:15px;}
.pubart h4 a:hover {color:#0088ff;}
.pubart img {margin-bottom:6px;}
.panart {font-family:Arial; font-size:16px; padding:0px; margin:0 0 10px 0; transition:all 0.2s ease;}
.panart:hover {background-color:#e1dfcf;}
.panart a {color:#333333;}
.panbkg, .coverbkg {background-color:#d6d6d6; transition: all 0.3s ease; background-size:100%; margin:0; height:200px; filter:contrast(90%) brightness(97%); background-image:linear-gradient(to bottom,rgba(0,136,255,0.4),rgba(225,223,207,0.4)),linear-gradient(45deg,rgba(225,223,207,0.4),rgba(0,136,255,0.4));}
.panart:hover .panbkg {filter:contrast(100%) brightness(100%); background-size:100%;}
.pantxt {color:#0f120f; position:absolute; top:6px; left:5px; padding:10px; background-color:rgba(225,223,207,0.8); font-size:larger; text-shadow: 2px 1px 3px rgba(0,0,0,0.3); box-shadow:0 4px 8px rgba(0,0,0,0.4); width:80%;}
.topology li a.active {color:#0f120f; background-color:#e9e7e8; padding:0;}
.coverbkg {height:240px;}
.covertxt {color:#e1dfcf; padding:16px; background:rgba(15,18,15,0.8); font-size:28px; position: absolute; top: 0px; max-width:60%;}
.covertxt a {color:#e1dfcf;}
.apichan a {color:#e1dfcf;}
.apichan a:hover {color:#e1dfcf;}
.apichan {transition: all 0.2s ease;}
.apichan a {display:inline-block; margin:4px; padding:0 16px; background:linear-gradient(20deg,rgb(255, 255, 255,0.4),rgba(255,255,255,0)); line-height:3em; text-shadow:1px 1px 2px #0f120f; transition: background 0.2s ease;}
.apichan a:hover {background:linear-gradient(200deg,rgb(255, 255, 255,0.4),rgba(255,255,255,0));}
.apichan a .philum, .apichan a:hover .philum {color:#e1dfcf; font-size:x-large;}
.tab a {color:#0f120f; background-color:#d6d6d6; margin:0 2px; padding:2px 4px; border-radius:2px;}
.tab a.active, .tab a:hover {color:#0f120f; background-color:#e1dfcf;}
.sticky {line-height:normal; display:inline;}
.nbp {color:#0f120f; font-size:13px; margin:0 0 4px 0; line-height:normal; background:inherit;}
.nbp a {color:#0f120f;}
.nbp a {color:#0f120f; border:0; padding:2px 4px;}
.nbp a {color:#0f120f;}
.nbp a:hover {color:#0088ff;}
.nbp .active {color:#0f120f; background-color:#e1dfcf;}
.nbp a:hover {color:#0f120f; background-color:#e1dfcf;}
.topology li a {color:#0f120f; background-color:#d8d8d6; padding:0;}
.topology li a {color:#0088ff; background-color:#e9e7e8;}
.hide-simple {display:block;}
.nbp .active a:hover {color:#0f120f; background-color:#e1dfcf;}
.list a {color:#333333; background-color:#e9e7e8; padding:1px 2px; display:block !important;}
.list a:hover {color:#0f120f; background-color:#e1dfcf;}
.list a.active {color:#0f120f; background-color:#d6d6d6;}
.dlist div {color:#333333; padding:1px 2px;}
.dlist div:hover {color:#333333; background-color:#e9e7e8;}
#bub .inline .bub ul {box-shadow:0;}
.bub li {background-color:#;}
.taxonomy {color:#0f120f;}
.taxonomy a {color:#0f120f;}
.taxonomy a:hover {background-color:#e1dfcf;}
.taxonomy li {color:#0f120f; padding:0;}
.taxonomy li a {color:#0f120f;}
.etc {color:#0f120f; /*text-overflow:ellipsis; white-space:nowrap; overflow:hidden; width:220px;*/}
.etc a {color:#0f120f;}
.nl {white-space:break-spaces;}
.flapf {color:#0f120f; background-color:#d6d6d6; padding:0;}
.flapf a {color:#0f120f;}
.flap li a.active {color:#0f120f; background-color:#e9e7e8;}
.flap li a:hover {color:#0f120f; background-color:#e9e7e8;}
.inblock a {display:block;}
a.active .philum {color:#0f120f;}
.fimnu a {color:#0f120f; border:0; background:inherit;}
.fimnu a:hover {color:#0088ff;}
.bar {background-color:rgba(233,231,232,0.7); border:color:#4.5;}
.fimnu a.active {color:#0088ff;}
.fipop {color:#333333; background-color:#e1dfcf; border-color:#d6d6d6;}
.imgl {margin:2px 4px 0 0; width:auto;}
.left {float:left;}
.right {float:right;}
.center {text-align:center;}
.inblock {background-color:#e1dfcf; display:inline-block;}
.btp a {padding:2px 4px:}
.bkg {background-color:rgba(143,143,143,0.5);}
.console {padding:6px;}
.icones {text-shadow:0 0 0px #8f8f8f; width:130px; height:88px;}
.icones img {width:50px; height:38px;}
.icones:hover {text-shadow:0px 0px 1px #8f8f8f;}
.sicon {width:120px;}
.dicon {padding:4px;}
.dicon span {display:block;}
.video img {border-color:#0f120f; border-width:2px; border-style:solid; transition: all 0.2s ease;}
.video img:hover {border-color:#0088ff; border-width:2px; border-style:solid; -webkit-filter: saturate(2) opacity(0.8);}
#dragup {background-color:#e9e7e8; border-color:#8f8f8f;}
.philum {color:#333333; font-size:22px; display:inline-block; font-weight:normal; font-style-normal;}
a .philum {color:#333333;}
a.philum:hover {color:#0f120f;}
.philum:hover {color:#0f120f;}
.active .philum {color:#0088ff;}
.active .philum:hover {color:#0088ff;}
.philum.active, #bub .philum.active {color:#0088ff; color:#bd0000;}
.20px {min-width:20px;}
@media only screen and (max-width:640px) {.thumb{width:100%; margin:0 0 5px; float:none;} .grid-art{display:block;} .panbkg{height:180px;} .justy{font-size:16px;} .pantxt{font-size:medium;} .blocks a{width:100%} .inline .panart{width:100%;} .hide-simple{display:none;}}
.ic-tw2 {color:#4099FF;}
.ic-fb2 {color:#3B5998;}
.popup {color:#0f120f; background-color:#d8d8d6; border-color:#8f8f8f; border-width:1px; border-radius:4px; margin:0px; box-shadow:0px 0px 8px -4px rgba(143,143,143,0.4);}
.popup article {margin:2px 20px; /*padding:will debord!*/}
.popup section {padding:10px; margin:10px 0;}
#popup section {color:#0f120f; background-color:#e9e7e8; padding:10px; margin:10px 0;}
.popa {color:#0f120f; background-color:#d8d8d6; border-radius:4px 4px 0 0; padding:0 4px; background-image:linear-gradient(to bottom,rgba(51,51,51,0.2) 0px,rgba(51,51,51,0) 15px,rgba(51,51,51,0.1) 16px);}
.popa .philum {font-size:27px; padding:0 4px;}
.popu {color:#0f120f; padding:0; border-radius:0 0 4px 4px;}
#popup header {color:#0f120f; padding:0;}
#popup article {color:#0f120f; margin:8px 0;}
#trkdsk {background-color:rgba(216,216,214,0.5);}
