# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

_notes
_backup
_old
cnfg/*
video
video_u
medias
_trash.php
cnfg/newsnet.fr.php
cnfg/newsnet.ovh.php
cnfg/oumo.fr.php
cnfg/oomo.ovh.php
cnfg/philum.fr.php
cnfg/philum.test.php
cnfg/vps801456.ovh.net.php
cnfg/newsnet_saveconfig.txt
cnfg/_nfo_config.txt
cnfg/_nfo1_config.txt
cnfg/_nfo2_config.txt
cnfg/_umm_config.txt
css/newsnet*
css/MARIALI*
img/*.jpg
img/*.png
img/*.webp
imgc/*.jpg
imgc/*.png
imgc/*.webp
msql/design/*
!msql/design/public/*
msql/server/newsnet/*
msql/server/philum/*
msql/server/ummo/*
msql/users/*
!msql/users/public/*
msql/clients/*
msql/_bak/*
msql/users/*
!msql/users/public/*
pub/favicons/favicon_nn*
pub/favicons/favicon_oo*
