# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

.git*
.vscode
_notes
_backup
_old

_datas
!_datas/readme.txt
_datas/csv
_datas/exec
_datas/md
_trash.php

cnfg
!cnfg/__config.txt
!cnfg/public_saveconfig.txt

css
!css/_*
!css/public*

plug/dev*
plug/old/*
plug/tiers/*
plug/unused/*
plug/tools/*
plug/sci/*
!plug/sci/maths*
!plug/sci/pi*
!plug/sci/phi*
!plug/sci/anagram*
plug/spi/*
!plug/sspici/atomic*

plg/um/*

msql/design/*
!msql/design/public/*
msql/users/*
!msql/users/public/*
/msql/clients/*
/msql/server/*
!msql/server/philum/*
/msql/_bak/*
/msql/lang/*/newsnet/*
/msql/lang/*/ummo/*
/msql2

json/*
!json/sys/*
!json/srv/philum/*
!json/usr/philum/*

users/*
!users/philum/
medias
video
video_u
!video/readme.txt
img
!img/readme.txt
imgc
!imgc/readme.txt
imgb
!imgb/audio

pub/favicons/favicon_nn*
pub/favicons/favicon_oo*
